/*-----------------------------------*\
  #Global Property
\*-----------------------------------*/

:root {
    /* COLORS */
    --black: 13, 16, 19;

    --header-bg: rgb(VAR(--black));

    /* BACKGROUND BUTTON */
    --primary-btn-bg: 211, 59, 74;
    --secondary-btn-bg: 90, 106, 207;

    /* TEXT COLOR */
    --primary-color: 18, 18, 18;
    --secondary-color: 248, 212, 215;

    /* Typography */
    --font-primary: "Roboto", sans-serif;

    /* Font size */
    --fs-base: 62.5%;
}

/*-----------------------------------*\
   #RESET
*-----------------------------------*/
*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

a,
img,
input,
button,
textarea,
span {
    display: inline-block;
}

span {
    line-height: normal;
}

p {
    line-height: 150%;
}

a {
    text-decoration: none;
}

img {
    height: auto;
}

html {
    font-family: var(--font-primary);
    font-size: var(--fs-base);
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

body {
    color: rgba(var(--black), 0.8);
    font-size: 15px;
}

main {
    display: block;
}

/*-----------------------------------*\
 #TYPOGRAPHY
\*-----------------------------------*/
.text-title-xl {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 4.5rem;
}

.text-title-l {
    font-size: 3rem;
    font-weight: 400;
    line-height: 4rem;
}

.text-title-m {
    font-size: 2rem;
    font-weight: 500;
}

.text-body-s {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.5rem;
}

.text-body-m {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.5rem;
}

.text-body-l {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.8rem;
}

.text-btn-m {
    font-size: 1.6rem;
    font-weight: 500;
}

/* FORM FIELDS */
input,
textarea,
button {
    background: none;
    border: none;
    font: inherit;
}

button svg {
    width: 1.5rem;
    pointer-events: none;
}

button span {
    pointer-events: none;
}

input,
select,
textarea {
    width: 100%;
}

input,
textarea,
[contenteditable="true"] {
    outline: none;
}

textarea {
    resize: vertical;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="file"],
input[type="password"],
textarea,
select {
    padding: 8px 15px;
    border-radius: 3px;
    margin: 0;
}

input[type="file"]::file-selector-button,
input[type="file"]::-webkit-file-upload-button {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
}

select {
    padding: 10px 15px;
}

input[type="submit"] {
    width: 150px;
}

input[type="submit"]:hover {
    cursor: pointer;
}

/* BUTTONS/ANCHOR LINKS */
button {
    font-size: 1.35rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

button:hover {
    cursor: pointer;
    transition: all 0.5s;
}

button.primary-btn:disabled {
    pointer-events: none;
    background-color: rgb(var(--primary-btn-bg), 0.7);
    border: 1px solid rgba(var(--primary-btn-bg), 0.2);
    color: rgba(var(--primary-color), 0.5);
}

button.primary-btn:disabled svg {
    color: rgba(var(--primary-color), 0.5);
    fill: rgba(var(--primary-color), 0.5);
}

button.secondary-btn:disabled {
    background-color: rgb(var(--secondary-btn-bg), 0.3);
    border: 1px solid rgba(var(--secondary-btn-bg), 0.2);
    color: rgba(var(--primary-color), 0.5);
}

.primary-btn,
.secondary-btn,
.primary-outline-btn {
    white-space: nowrap;
    font-weight: 500;

    padding: 1.3rem 3rem;
    border-radius: 6px;
    color: rgba(var(--primary-color));

    display: flex;
    align-items: center;
    gap: 10px;
}

.primary-btn {
    background-color: rgb(var(--primary-btn-bg));
    border: 1px solid rgba(var(--primary-btn-bg), 0.6);
    color: rgb(var(--secondary-color));
}

.primary-btn:hover {
    background-color: rgba(var(--primary-btn-bg), 0.7);
    border: 1px solid rgb(var(--primary-btn-bg));
    color: rgba(var(--black), 0.89);
}
.primary-btn:hover svg {
    color: rgba(var(--black), 0.89);
    fill: rgba(var(--black), 0.89);
}

.secondary-btn {
    background-color: rgba(var(--secondary-btn-bg), 0.8);
    border: 1px solid rgb(var(--secondary-btn-bg));
    color: #fff;
}

.primary-btn svg,
.secondary-btn svg {
    width: 15px;
    height: 15px;
    fill: #fff;
}

.primary-btn.center,
.secondary-btn.center,
.primary-outline-btn.center {
    justify-content: center;
}

.primary-btn:hover.danger svg,
.secondary-btn:hover.danger svg,
.primary-outline-btn:hover.danger svg,
.primary-action-btn:hover.danger svg {
    fill: red;
    color: red;
}

.secondary-btn:hover,
.primary-outline-btn:hover {
    background-color: rgba(var(--secondary-btn-bg), 0.55);
    border: 1px solid rgb(var(--secondary-btn-bg));
}

.primary-outline-btn {
    border: 1px solid rgba(var(--secondary-btn-bg), 0.35);
}

.primary-outline-btn svg {
    width: 20px;
    height: 20px;
}

.primary-action-btn {
    width: 25px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.primary-action-btn svg {
    width: 20px;
    height: 20px;
    fill: rgba(var(--primary-color), 0.4);
}

.primary-action-btn:hover svg {
    fill: rgba(var(--secondary-btn-bg), 0.8);
}

.item-anchor {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
}

.primary-wrapper {
    padding: 1.5rem 3rem;
    border-radius: 6px;
    background-color: rgb(var(--primary-btn-bg));
    border: 1px solid rgba(var(--primary-btn-bg), 0.6);
    color: rgb(var(--secondary-color));
}

/** TABLE */
table {
    width: 100%;
    font-size: 1.3rem;

    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden;
    box-shadow: 0 0 0 1px rgba(85, 86, 90, 0.12);
    color: rgba(var(--primary-color), 0.65);
}

table thead {
    background-color: #f0f0f0;
    border-bottom: 1px solid #dbdbdb;
}

table thead th {
    padding: 10px 12px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
}

table tbody tr {
    border-bottom: 1px solid rgba(219, 219, 219, 0.6);
    font-size: 1.3rem;
}

table tbody tr:hover {
    cursor: pointer;
    background-color: rgba(248, 248, 248, 0.8);
}

table tbody tr:nth-child(even) {
    background-color: rgba(248, 248, 248, 0.5);
}

table tr td {
    padding: 10px;
    vertical-align: middle;
}

/*===================*/
/* SHRINK EFFECT
/*===================*/
.shrink-on-hover {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.shrink-on-hover:hover,
.shrink-on-hover:focus,
.shrink-on-hover:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

.expand-on-hover {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.expand-on-hover:hover,
.expand-hover:focus,
.expand-on-hover:active {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

/* TEXTURE BACKGROUND */
.bg-texture-primary {
    position: relative;
}

.bg-texture-primary::before {
    content: "";
    background-image: url("../images/texture1.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.bg-texture-secondary {
    position: relative;
}

.bg-texture-secondary::before {
    content: "";
    background-image: url("../images/texture2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.title-texture-primary {
    position: relative;
}

.title-texture-primary::before {
    content: "";
    background-image: url("../images/title-texture.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #eeeeee;
    -webkit-box-shadow: 0px 0 16px 0 rgba(0, 0, 0, 0.41);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.41);
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

/* SOCIAL ICONS */
.socials-primary {
    display: flex;
    gap: 20px;
}

.socials-primary .social-item-primary {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #444444;
    border-radius: 50%;
}

.socials-primary .social-item-primary:hover {
    background-color: #6677e6;
    border: 1px solid #1f2863;
    -webkit-box-shadow: 0px 0 6px 0 #6677e6;
    box-shadow: 0 0 6px 0 #6677e6;
}

.socials-primary .social-item-primary svg {
    fill: #fff;
    width: 50%;
}

/* OTHERS */

/* margins */
.m-m {
    margin: 50px 0;
}

.m-l {
    margin: 80px 0;
}

/* img/video */
video,
img {
    width: 100%;
    height: 100%;
}

.red {
    color: red;
}

/* ALERTIFY MODAL PLUGIN */
.alertify .ajs-dialog {
    top: 25%;
    transform: -50%, -50%;
}


/* FOOTER */
footer {
    height: 50px;
    background-color: #222222;
    border-top: 1px solid rgb(var(--black));
    display: flex;
    justify-content: center;
    align-items: center;

    color: #999;
    font-size: 1.3rem;
}